@import url('https://fonts.cdnfonts.com/css/cera-round-pro');
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  font-family: 'Cera Round Pro', sans-serif;
}
body{
  background-color: #17171f;
}
.card{
  background-color: #25252b;
  width: fit-content;
  align-self: center;
  color: #663eff;
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  transition: 10s;
}
button{
  background-color: #17171f;
  border-color: #663eff;
  padding: 10px 40px ;
  border-radius: 50px;
  color: #663eff;
  font-family: 'Cera Round Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
p{
  font-weight: 500;
}
 img{
  width: 200px;
  border-radius: 50%;
 }